In [1]:
import pandas as pd
import numpy as np
from category_encoders.one_hot import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from category_encoders.leave_one_out import LeaveOneOutEncoder
import re
import warnings
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import matthews_corrcoef
from sklearn.utils.class_weight import compute_class_weight
from sklearn.decomposition import PCA

warnings.simplefilter("ignore")
%matplotlib inline

In [2]:
df_train = pd.read_csv('df_train_copy.csv')

In [3]:
df_train['class'].value_counts()

class
p    1705396
e    1411549
Name: count, dtype: int64

In [4]:
y_train = df_train["class"]                  # Таргет тренировочного датасета
y_train = y_train.map({"p":0, "e":1})

In [5]:
X_train = df_train.drop(["class"], axis=1)   # Тренировочный датасет

In [7]:
encoder = OneHotEncoder(return_df=True)
X_train_2 = encoder.fit_transform(X_train,y_train)

In [8]:
# Получение весов классов
class_weights = compute_class_weight('balanced', classes=np.unique(y_train), y=y_train)

In [51]:
dt =  DecisionTreeClassifier(criterion='entropy', max_depth=6, min_samples_split=3, random_state=18, class_weight=dict(enumerate(class_weights)))

In [9]:
Xtrain, Xtest, ytrain, ytest = train_test_split(X_train_2, y_train, test_size=0.3, random_state=42)

In [55]:
dt.fit(Xtrain, ytrain)

DecisionTreeClassifier(class_weight={0: 0.9138478687647913,
                                     1: 1.104086716082828},
                       criterion='entropy', max_depth=6, min_samples_split=3,
                       random_state=18)

In [12]:
y_train_dt = dt.predict(Xtrain)

In [13]:
y_test_dt = dt.predict(Xtest)

In [14]:
print(f"Decision tree accuracy train: {accuracy_score(y_train_dt, ytrain):.8f}")
print(f"Decision tree accuracy test: {accuracy_score(y_test_dt, ytest):.8f}")

Decision tree accuracy train: 0.72584871
Decision tree accuracy test: 0.72599574

In [15]:
print(round(matthews_corrcoef( ytrain,y_train_dt),5))

0.4682

In [16]:
print(round(matthews_corrcoef( ytest,y_test_dt),5))

0.46847

In [71]:
df_test = pd.read_csv('df_copy_test_.csv')

In [72]:
df_test

,Unnamed: 0,cap-diameter,cap-shape,cap-color,does-bruise-or-bleed,gill-color,stem-height,stem-width,stem-color,has-ring,habitat,season
0,0,8.64,x,n,t,w,11.13,17.12,w,t,d,a
1,1,6.90,o,o,f,y,1.27,10.75,n,f,d,a
2,2,2.00,b,n,f,n,6.18,3.14,n,f,d,s
3,3,3.47,x,n,f,n,4.98,8.51,w,t,d,u
4,4,6.17,x,y,f,y,6.73,13.70,y,t,d,u
...,...,...,...,...,...,...,...,...,...,...,...,...
2077959,2077959,0.88,x,w,f,w,2.67,1.35,e,f,d,u
2077960,2077960,3.12,x,w,f,w,2.69,7.38,w,f,g,a
2077961,2077961,5.73,x,e,f,w,6.16,9.74,y,t,d,a
2077962,2077962,5.03,b,n,f,g,6.00,3.46,g,f,d,a
2077963,2077963,15.51,f,w,f,y,2.69,17.71,w,f,d,w

In [25]:
y_test_kaggle_dt = dt.predict(X_test_2)

In [30]:
print(f"Decision tree accuracy train: {accuracy_score(y_test_kaggle_dt, predict_np):.8f}")

ValueError: Classification metrics can't handle a mix of binary and multiclass-multioutput targets

In [104]:
print(round(matthews_corrcoef( predict_np,y_test_kaggle_dt),5))

0.3099

In [74]:
X_test_2 = encoder.fit_transform(df_test)

In [21]:
predict = pd.read_csv('predict_kaggle.csv')

In [65]:
predict = predict.replace('e',1)

In [66]:
predict = predict.replace('p',0)

In [67]:
predict

              id  0
0        3116945  1
1        3116946  0
2        3116947  0
3        3116948  0
4        3116949  1
...          ... ..
2077959  5194904  0
2077960  5194905  0
2077961  5194906  0
2077962  5194907  1
2077963  5194908  1

[2077964 rows x 2 columns]

In [63]:
predict_np = np.array(predict)

In [28]:
df_train_kaggle = pd.read_csv('train.csv')

In [29]:
df_train_kaggle['class'].value_counts()

class
p    1705396
e    1411549
Name: count, dtype: int64

In [7]:
df_train_kaggle

,id,class,cap-diameter,cap-shape,cap-surface,cap-color,does-bruise-or-bleed,gill-attachment,gill-spacing,gill-color,...,stem-root,stem-surface,stem-color,veil-type,veil-color,has-ring,ring-type,spore-print-color,habitat,season
0,0,e,8.80,f,s,u,f,a,c,w,...,NaN,NaN,w,NaN,NaN,f,f,NaN,d,a
1,1,p,4.51,x,h,o,f,a,c,n,...,NaN,y,o,NaN,NaN,t,z,NaN,d,w
2,2,e,6.94,f,s,b,f,x,c,w,...,NaN,s,n,NaN,NaN,f,f,NaN,l,w
3,3,e,3.88,f,y,g,f,s,NaN,g,...,NaN,NaN,w,NaN,NaN,f,f,NaN,d,u
4,4,e,5.85,x,l,w,f,d,NaN,w,...,NaN,NaN,w,NaN,NaN,f,f,NaN,g,a
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3116940,3116940,e,9.29,f,NaN,n,t,NaN,NaN,w,...,b,NaN,w,u,w,t,g,NaN,d,u
3116941,3116941,e,10.88,s,NaN,w,t,d,c,p,...,NaN,NaN,w,NaN,NaN,f,f,NaN,d,u
3116942,3116942,p,7.82,x,e,e,f,a,NaN,w,...,NaN,NaN,y,NaN,w,t,z,NaN,d,a
3116943,3116943,e,9.45,p,i,n,t,e,NaN,p,...,NaN,y,w,NaN,NaN,t,p,NaN,d,u
3116944,3116944,p,3.20,x,s,g,f,d,c,w,...,NaN,NaN,w,NaN,NaN,f,f,NaN,g,u

In [31]:
predict['0'].value_counts()

0
0    1133269
1     944695
Name: count, dtype: int64

In [32]:
predict

              id  0
0        3116945  1
1        3116946  0
2        3116947  0
3        3116948  0
4        3116949  1
...          ... ..
2077959  5194904  0
2077960  5194905  0
2077961  5194906  0
2077962  5194907  1
2077963  5194908  1

[2077964 rows x 2 columns]

In [33]:
df_train_kaggle = pd.read_csv('train.csv')

In [34]:
df_train_kaggle['class'].value_counts()

class
p    1705396
e    1411549
Name: count, dtype: int64

## Метод главных компонент

In [36]:
dec = PCA()
# dec.fit(X_train_2) # обучаем PCA

In [15]:
faces_images = mean_face
red.fit(faces_images)

array([[-1.00000000e+00, -1.50581450e-09, -3.22055627e-11, ...,
         2.88106907e-11, -6.58908605e-10, -1.12364781e-10],
       [-3.88054989e-09,  4.36595343e-01,  5.35802376e-04, ...,
         1.58587753e-03, -2.51193919e-03,  3.06978216e-04],
       [ 2.60963897e-10,  8.27376628e-01,  4.96766311e-03, ...,
         1.98228718e-03,  2.22359163e-03, -1.28777320e-03],
       ...,
       [ 0.00000000e+00, -8.24008904e-17, -2.58721724e-02, ...,
         5.54835407e-02,  5.54835407e-02,  5.54835407e-02],
       [ 0.00000000e+00,  5.63340437e-18, -3.57286967e-02, ...,
        -1.12124842e-02, -1.12124842e-02, -1.12124842e-02],
       [ 0.00000000e+00,  5.56767462e-17,  3.40470181e-02, ...,
         4.28972557e-01,  4.28972557e-01,  4.28972557e-01]])

In [40]:
# X_train_pca = dec.fit(Xtrain)

In [52]:
X_train_pca = dec.fit_transform(Xtrain)   # обучаем PCA

In [56]:
y_train_predict_pca = dt.predict(X_train_pca)

In [57]:
X_test_pca = dec.transform(Xtest)

In [58]:
y_test_predict_pca = dt.predict(X_test_pca)

In [59]:
print(f"Decision tree accuracy train: {accuracy_score(ytrain,y_train_predict_pca):.8f}")

Decision tree accuracy train: 0.54617182

In [60]:
print(f"Decision tree accuracy train: {accuracy_score(y_test_predict_pca, ytest):.8f}")

Decision tree accuracy train: 0.54615414

In [61]:
print(round(matthews_corrcoef(ytest, y_test_predict_pca),5))

-0.00618

In [62]:
print(round(matthews_corrcoef(y_test_predict_pca,ytest ),5))

-0.00618

In [68]:
predict

              id  0
0        3116945  1
1        3116946  0
2        3116947  0
3        3116948  0
4        3116949  1
...          ... ..
2077959  5194904  0
2077960  5194905  0
2077961  5194906  0
2077962  5194907  1
2077963  5194908  1

[2077964 rows x 2 columns]

In [75]:
X_test_2

,Unnamed: 0,cap-diameter,cap-shape_1,cap-shape_2,cap-shape_3,cap-shape_4,cap-shape_5,cap-shape_6,cap-shape_7,cap-shape_8,...,habitat_18,habitat_19,habitat_20,habitat_21,habitat_22,habitat_23,season_1,season_2,season_3,season_4
0,0,8.64,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,1,6.90,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,2,2.00,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,3,3.47,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,4,6.17,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2077959,2077959,0.88,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2077960,2077960,3.12,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2077961,2077961,5.73,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2077962,2077962,5.03,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2077963,2077963,15.51,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [76]:
df_test_pca = dec.transform(X_test_2)

In [77]:
y_test_kaggle_dt = dt.predict(df_test_pca)

In [82]:
print(round(matthews_corrcoef( predict_np,y_test_kaggle_dt),5))

0.01521

In [81]:
predict_np = np.array(predict['0'])